* {
    font-family: 'Roboto', sans-serif;
   
}
.logo img {
    height: 100%;
    width: 100%;
    margin: auto;
}
.container {
    
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 30% 70%;
    color: #57585a;
    border: #e7e5e5;
    border-style: solid;
    font-weight: 300;
    


}
.TituloCotizacion {
    max-width: 300px;
    max-height: 40px;
    text-align: center;
    color: #57585a;
    background-color: #e7e5e5;
    margin-left: auto;
    margin-bottom: 0px;
    font-size: 10px;
    padding: 1px;
}

.seccion ul {
    margin: 5px;
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;

    
}

.item1 {
     grid-column: 1/5;
    
}
.item2 {
    grid-column: 5/9;
}

.seccion li {
    text-align: center;
    background-color: #e7e5e5;
    height: 40px;
}

.titulo {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.texto {
    font-size: 9px;
}

.TituloPlanes {
    
    margin-top: 10px;
    max-width: 300px;
    max-height: 40px;
    text-align: center;
    color: #57585a;
    background-color: #e7e5e5;
    margin-bottom: 0px;
    font-size: 10px;
    padding: 1px;
    text-transform: uppercase;

}

.Descripcion {
    border: #e7e5e5;
    border-style: solid;
    font-weight: 300;
}
.Descripcion p {
    text-align: left;
    font-size: 15px;
    margin: auto;
    padding: 20px;
}

.seccion li span {
    text-transform: uppercase;
}
.viva-logo img {
    width: 100%;
    height: 100%;
}
.subtitle {
    font-weight: bold;
}
 