* {
    font-family: 'Roboto', sans-serif;
}
.container {

    display: grid;
    grid-template-rows: 260px;
    grid-template-columns: 1fr 1fr;
    color: #57585a;
    border: #e7e5e5;
    border-style: solid;
    margin-top: 0%;
    


}
.TituloCotizacion {
    max-width: 300px;
    max-height: 40px;
    text-align: center;
    color: #57585a;
    background-color: #e7e5e5;
    margin-left: auto;
    margin-bottom: 0px;
    font-size: 10px;
    padding: 1px;
}

.seccion ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 5px;

    
}

.titulo {
     grid-column: 1/5;
    
}
.titulo1 {
    grid-column: 5/9;
}

.seccion li {
    text-align: center;
    background-color: #e7e5e5;
    height: 100px;
    padding: 0;
}